<div class="social">
  <div class="contact-icons">
    <!-- Email -->
    <a href="mailto:madisonbarkerphd@gmail.com" title="email">
      <i class="fa-solid fa-envelope"></i>
    </a>

    <!-- Google Scholar -->
    <a href="https://scholar.google.com/citations?user=Z3Gy3LsAAAAJ" title="Google Scholar" rel="external nofollow noopener" target="_blank">
      <i class="ai ai-google-scholar"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://linkedin.com/in/madison-skye-barker" title="LinkedIn" rel="external nofollow noopener" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>

    <!-- ResearchGate -->
    <a href="https://www.researchgate.net/profile/Madison-Barker" title="ResearchGate" rel="external nofollow noopener" target="_blank">
      <i class="ai ai-researchgate"></i>
    </a>
  </div>

  <!-- Updated Contact Note -->
  <div class="contact-note">
    The best way to reach me is via email.
  </div>
</div>
